.about-container{
  position: relative;
}

.about-container .column{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0;
}

.about-container .row{
  display: flex;
  gap: 70px;
}

.about-container .row .column{
  width: 50%;
}

.about-container .column .text{
  margin-bottom: 20px;
}

.about-container .column img{
  position: absolute;
  left: -30%;
  top: 50%;
  transform: translateY(-50%);
}

.features-container{
  padding: 40px 100px;
}

.features-container ul{
  display: flex;
  list-style: none;
  gap: 40px;
  justify-content: space-between;
}

.features-container ul li *{
  text-align: center;
}