.hero-container{
  height: 100vh;
  margin-top: -140px;
  align-content: end;
  padding: 100px 0;
  position: relative;
}

.hero-container .column{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0px;
  z-index: 1;
  position: relative;
}

.hero-container .text{
  margin-bottom: 30px;
}